<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4 style="color: green; , font-style: italic ;">Your order is confirmed</h4>
    <%= @items.product.name%><br>
    <%= @items.product.description%><br>
    <%= @items.product.price%>
    <p style="color: blue;">Keep Shopping</p>
  </body>
</html>
