     <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            Shopsy
          </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/users/carts" class="nav-link px-2">
          <span class="badge bg-danger border border-light rounded-circle"><%=@cart_items&.sum(:quantity)%></span>Cart</a></li>

          <% if user_signed_in? %>
            <li><a href="/users/orders" class="nav-link px-2">My Orders</a></li>
            <li><a href="/profile/show" class="nav-link px-2">Profile</a></li>
          <% end %>

          <li><a href="#" class="nav-link px-2 ">About</a></li>
        </ul>

        <div class="col-md-3 text-end">

          <% if user_signed_in? %>
            <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class:'btn btn-primary' %>
          <% else %>
            <%= button_to "Sign In", new_user_session_path, class:'btn btn-outline-primary me-2' %>
          <% end %>

        </div>

      </header>

   <%# <span class="badge bg-danger border border-light rounded-circle"><%=@cart_items.sum(:quantity)</span> %>